.header {
  color: white;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  height: 8vh;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 99;
  transition: all 1s 0.1s;
}
.scrolled {
  background-color: black;
  transition: all 2s 0.1s;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.left {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(247, 40, 40);
}
.right {
  height: 8vh;
  display: flex;
  align-items: center;
}
.right h3 {
  padding: 15px;
}
